window {
    background-color: #000; 
    color: #fff;
}

#body {
    color: #fff;
}

#clock-label {
    color: #fff;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 20px;
}

entry {
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1.2rem;
    min-height: 40px;
}

#error-label {
    color: #f38ba8;
}
